.fading {
  animation-name: inline-u5b676677;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

@keyframes inline-u5b676677 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
