.text {
  border: 4px solid blue;
  background-color: rgba(135, 135, 228, 0.795); }
  .text:hover {
    border: 4px solid red;
    background-color: rgba(238, 125, 125, 0.815); }

.text {
  cursor: pointer; }

.border, .header, .footer {
  border: 4px dashed green;
  width: 100%; }

.header {
  border-color: blue; }
