@use "button";
@import 'partials';

$lg1: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);
$lg2: linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%);
$lg3: linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

.content {
    background: $lg1, $lg2, $lg3;
}