@use "button";

@import 'partials';
@import 'moduletoimport.scss';

.button {
  @include button.rounded;
  padding: 5px + button.$radius;
  width: 200px;
  height: 200px;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}

// @import './mystyles.scss';
// @import './mystyles.scss';
// @import './nestedselectors.scss';
// @import './variables.scss';
// @import './placeholder.scss';
// @import './nestedprops.scss';
// @import './mixins.scss';
// @import './functions.scss';
// @import './interpolation.scss';
// @import './flowcontrol.scss';