.container {

    .content {

        .list {

            .list-item {

                &:hover{
                    background-color: chocolate;
                    color: white;
                }

                &:first-child {
                    margin-top: 15px;
                    background-color: silver;

                    &:hover{
                        background-color: chocolate;
                        color: silver;
                    }

                }

                &:last-child {
                    margin-bottom: 15px;
                    background-color: goldenrod; 
                    
                    &:hover{
                        background-color: chocolate;
                        color: goldenrod;
                    }

                }

            }

        }

    }

}